@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');

*{
    user-select: none;
}

:root{
    --cor-primaria: #000;
    --cor-segundaria: #c99f16;
    --fundo-transparente: #0000007a;
}

body{
    font-family:"Instrument Serif", serif !important;
}

main {
    min-width: 100% !important;
    min-height: 100vh !important;
}

.hero-section {
    background: url("../imgs/hero.jpg") no-repeat center center fixed !important;
    background-size: cover !important;
    min-width: 100% !important;
    min-height: 100vh !important;
}

.card-inicio {
    background-color: var(--fundo-transparente);
    border-radius: 1rem;
    backdrop-filter: blur(4px);
}

.btn-primary {
    background-color: var(--cor-segundaria) !important;
    color: var(--cor-primaria) !important;
    border: none !important;
    cursor:pointer;
}

h1,h2{
    font-family: "Playball", cursive !important;
}

h1,h2, .cor-preco{
    color: var(--cor-segundaria) !important;
}
